body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e0e0;
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: #86112A;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color: white;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
}

.card-cabecera {
    background-color: #a78951;
    color: #86112A;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-contenido {
    background-color: #FBEDDB;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

.card-ejercicio button, input[type="button"], input[type="reset"] {
    width: auto;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px #86112A;
    background-color: transparent;
    color: #86112A;
    font-size: 15px;
    
    &:hover {
        background-color: #86112A;
        color: white;
        cursor: pointer;
        transition-duration: .3s;
    }
}

@media (min-width: 1000px) {

    #container {
        width: 50%;
    }
    
}