body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8E1E9;
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #759EB8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color: whitesmoke;
    margin: 2.35rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
}

.card-cabecera {
    background-color: #97b7d4;
    padding: .50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-contenido {
    background-color: #C5D5EA;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

.card-contenido > table, tr, td {
    width: 100%;
    border: 2.5px solid #759EB8;
    border-collapse: collapse;
    padding: 15px;
    margin-top: 15px;
}

@media screen and (min-width: 1000px) {
 
    #container {
        width: 50%;
    }
    
}